/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9; /* Light background */
  color: #333; 
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #ff4081; /* Accent color */
  transition: color 0.3s ease-in-out;
}

/* Basic Reset */
h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 2rem;
  }

  /* Movie Detail */
  .movie-title {
    font-size: 1.8rem;
  }

  .movie-description {
    font-size: 0.9rem;
  }

  /* Floating Button */
  .fav-button {
    padding: 12px;
    font-size: 18px;
  }
}
